@model ZZL.MessageBoard.Web.Models.MessageViewModel
@{
    ViewBag.Title = "LeaveMessage";
}


<br />
@using (Html.BeginForm("LeaveMessage", "Message", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken();

    <div class="form-group">
        @Html.LabelFor(s => s.Title, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(s => s.Title, "", new { @class = "form-control", cols = 20, rows = 50 })
            @Html.ValidationMessageFor(s => s.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(s => s.Body, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-5">
            @Html.TextAreaFor(s => s.Body, new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.Body, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
            <button type="submit" class="btn btn-default">提交</button>
            <a href="@ViewBag.returnUrl" class="btn btn-default">返回</a>
        </div>
    </div>
}
