@using PagedList.Mvc
@model PagedList.IPagedList<ZZL.MessageBoard.Entity.MessageEntity>
@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <table class="table table-striped">
        <thead>
            <tr><td>主题</td><td>内容</td><td>留言时间</td><td>留言者</td></tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Body</td>
                    <td>@item.CreateDate</td>
                    <td>@item.UserName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="pagination">
        @Html.PagedListPager(Model, pageIndex => Url.Action("Index", "Home", new { pageIndex = pageIndex }))
    </div>
</div>